#contact {
    height: fit-content;
    margin-bottom: 20px;
}

#contact .container {
    padding: 40px;
}

#contact .container .contact-header {
    text-align: center;
    padding: 30px 0;
}

#contact .container .contact-header h2 {
    margin-bottom: 40px;
    color: var(--font-color-1);
    font-weight: 600;
}

#contact .contact-content{
    display: flex;  
}


#contact .contact-content .addresses-inputs {
    
}

#contact .contact-content .addresses-inputs input {
    width: 400px;
    background-color: var(--background-color-2);
    margin-bottom: 20px;
    padding: 10px;
    line-height: 2px;
}

#contact .contact-content .addresses-inputs .col {
    width: 240px;
}

#contact .contact-content .addresses-inputs textarea {
    background-color: var(--background-color-2);
    padding: 10px;
}


@media (max-width: 575.98px) {
    #contact .container {
        padding: 0;
        margin-left: 20px;
        margin-top: 20px;
    }

    #contact .contact-content {
        flex-wrap: wrap;
        margin: 0;
    }



}
