#header {
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
}

#header.header-scrolled {
    background-color: rgb(35, 55, 92);
}

.burger-menu {
    display: none;
    cursor: pointer; 
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--btn-color-2);

}

#header .container {
    align-items: center;
    justify-content: space-between;
}

#header .container .logo img {
    height: 6rem;
    display: block;
}


#header ul {
    padding: 0;
    margin: 0;
    display: flex;
}

#header li {
    position: relative;
    padding: 6px 10px;
}


#header li a {
    font-size: 18px;
    color: var(--font-color-2);
    font-weight: 900;
    border-radius: 8%;
}

#header li a:hover {
    background-color: var(--btn-color-2);
}

#navbar {
    position: static;
    padding: 0;
}

#header .navbar-nav li:last-child {
    background-color: var(--btn-color-2);
    border-radius: 5%;
}
@media (max-width: 575.98px) {
    #header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    #header .logo {
        margin-bottom: 10px;
    }
    #header .nav {
        display: none; /* Menü çökertme mobilde */
    }
    #header .burger {
        display: block; /* Burger menüyü gösterir */
    }
    #header .nav.active {
        display: block; /* Aktif menüyü gösterir */
        position: absolute;
        top: 60px; /* Logonun altına yerleştirir */
        left: 0;
        right: 0;
        background-color: white; /* Arka plan rengi */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Gölge efekti */
    }
}